*,*::before,*::after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color_fondo :#DA1B1B;
}

ul{ 
    list-style: none; 
 }

.border_header{
    border: 1px solid var(--color_fondo);
    border-radius: 100%;
    width: 34px;
    height: 34px;
    padding-right: 10px;
}

.color_letra{ color: var(--color_fondo);}

.white_color{color: #ffffff;}
.star_header{ padding-left: 0.45rem; padding-top: 0.35rem;}


.titulo-header{margin-right: 20px;}
.boton_header{
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--color_fondo);
    color: var(--color_fondo);
    border-radius: 25px;
}

.center_box{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_header{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (max-width: 700px) {
    .title_header{font-size: 35px;}
}



.paragraph_header{font-size: 28px;}

.image_header img{
    margin-top: 1.5rem;
    border-radius: 100%;
    border: 1px solid var(--color_fondo);
    width: 180px;
    height: 200px;
}


/*MOSTRAR HORA*/
.reloj { margin-left: 100px;}




/*SOBRE ME */
.fondo_color_me{
    /*background: linear-gradient(#1a197e, #3f3dec);*/
    background: var(--color_fondo);
    height: 100%;
}

.list_me{list-style: none;}
.padding_me{ padding-top: 5rem; padding-bottom: 5rem; font-size: 45px; font-weight: 500;}
.paragraph_me{font-size: 23px; font-weight: 400; text-align: justify;}





/*TARJETAS EN CSS*/
.border-left-card{border-left: 5px solid var(--color_fondo); padding-left: 20px;}
.disign-one{background-image: url(../img/trabajos/familc.jpg);}
.disign-two{background-image: url(../img/trabajos/amigroperu.jpg);}
.disign-three{background-image: url(../img/trabajos/buscandoperu.jpg);}
.disign-four{background-image: url(../img/trabajos/frutimania.jpg);}

.deep_disign{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    border-radius: 3%; /*circular*/
}

@media (max-width: 700px) {
    .deep_disign{
        height: 40vh;
    }
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    border-radius: 3%;/*circular*/
    opacity: 0; /*ocultamos*/
    transition: .5s; /*desvanecer por medio segundo*/
}

.content h2{color: rgba(255, 255, 255, .8);}

/*hover en la tarjeta*/
.deep_disign:hover .content{ opacity: 1;}
.btn-design{
    border: 1px solid #ffffff;
    padding: 10px;
    width: 300px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
}

.color-btn-design{color: #ffffff;}
.color-btn-design:hover{background-color: #ffffff; color: #000000;}


/*ESTILOS MIS PROYECTOS*/
.fondo_proyecto{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/fondo_proyectos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.border-left-proyect{border-left: 5px solid #e7f714; padding-left: 20px;}
.my-margin-buttom{margin-bottom: 50px;}
.title-me{color: #e7f714;}
.text-justify{text-align: justify;}
.color-white{color: #ffffff;}
.boder-radious{border-radius: 10px;}
.tamanio-img{width:100%; height: 60vh; background-size: cover; background-position: center center; background-repeat: no-repeat; background-size: cover;}

@media (max-width: 600px) {
    .tamanio-img{
        width: 100%;
        height: 170px;
    }
}




/*CLASES RED SOCIALES*/
.red-social{
    width: 55px;
    height: 55px;
    transition: width 1s, height 1s;
    -webkit-transition: width 1s, height 1s,
    -webkit-transform 1s;
}

.red-social:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


.franja{
    margin-top: 45px;
    border: 4px solid rgb(255, 255, 255);
}


/*ESTILOS DOCUMENTOS*/
.documento{
    width: 100%;
    height: 100vh;
}

@media (max-width: 600px) {
    .documento{
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 900px) {
    .documento{
        width: 100%;
        height: 100%;
    }
}






/*AJUSTES RESPONSIVE*/
/*escondemos hasta que la pantalla sea menor o igual a 700px*/
@media (max-width: 700px){
    .esconder{
        display: none;
        opacity: 0;
    }
}

/*escondemos hasta que la pantalla sea menor o igual a 900px*/
@media (max-width: 900px){
    .esconder{
        opacity: 0;
    }
}


@media (max-width: 900px){
    .tamanio_responsive{
        padding-top: 120px;
    }
}
